# This file defines configuration for the cargo deny command
# Ref: https://github.com/EmbarkStudios/cargo-deny

[advisories]
ignore = []

[bans]
multiple-versions = "deny"
deny = []
skip = [
    { name = "syn", version = "=1.0.109" }, # old dependency from derive_builder
    { name = "darling", version = "=0.14.4" }, # old dependency from derive_builder
    { name = "darling_macro", version = "=0.14.4" }, # old dependency from derive_builder
    { name = "darling_core", version = "=0.14.4" }, # old dependency from derive_builder
    { name = "bitflags", version = "=1.3.2" }, # old transitive dependency from cedar_policy_core
    { name = "itertools", version = "=0.11.0" }, # old transitive dependency from lalrpop and criterion
    { name = "regex-syntax", version = "<=0.7.5" }, # old transitive dependency from cedar_policy_core
    { name = "windows_aarch64_gnullvm", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_aarch64_msvc", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_i686_msvc", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_i686_gnu", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows-sys", version = "=0.48.0" }, # old dependency from chrono,lalrpop
    { name = "windows-targets", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_x86_64_gnu", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_x86_64_gnullvm", version = "=0.48.5" }, # old dependency from chrono,lalrpop
    { name = "windows_x86_64_msvc", version = "=0.48.5" }, # old dependency from chrono,lalrpop
]
skip-tree = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "Unicode-DFS-2016",
    "CC0-1.0",
]
exceptions = []
