name: Build and Test
on:
    workflow_call: # when invoked by any workflow
    workflow_dispatch: # can be invoked manually

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo fmt --all --check
      - run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose --features "experimental"
      - run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - run: cargo doc --all-features --no-deps
      - run: cargo clippy --all-features
      - run: cargo test --verbose --features "experimental"
      - run: cargo test --verbose
      - run: cargo test --verbose --no-default-features
      - run: cargo test --verbose -- --ignored
      - run: cargo bench --no-run
      - run: cargo audit --deny warnings
      - uses: EmbarkStudios/cargo-deny-action@v1 # cargo deny check
